.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #305066;
    .title{
        color: #22C3AA;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }
}