.attendance {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .tabs {
        .TabPane {
            .signRecordTable {
                text-align: center;
            }
        }
    }
    .icon-signIn {
        display: block;
        width: 200px;
        height: 200px;
        padding: 20px;
        margin: 50px auto;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px #333;
        background-origin: content-box;
        background: #FFF url(./images/signIn.jpg) center center/contain no-repeat;
        &:active {
            box-shadow: 0 0 10px 10px #333;
            filter: brightness(.5);
        }
    }
}